pipeline/foreachschema.json
{
	"name": "foreachschema",
	"properties": {
		"activities": [
			{
				"name": "LookForSpecificTables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select s.name as 'schema' , t.name as 'table' from sys.tables t\njoin\nsys.schemas s\non t.schema_id = s.schema_id\nwhere t.name in ('SalesOrderDetail','SalesOrderHeader','Product','ProductCategory')\norder by t.name",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AllTables",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "foreachtables",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookForSpecificTables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookForSpecificTables').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "copyeachtable",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@{concat('select * from ',item().schema,'.',item().table)}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SQLServerCopy",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DelimitedTables",
									"type": "DatasetReference",
									"parameters": {
										"schema": {
											"value": "@item().schema",
											"type": "Expression"
										},
										"table": {
											"value": "@item().table",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "broze to silver",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "foreachtables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Shared/Bronze to silver"
				},
				"linkedServiceName": {
					"referenceName": "Databrickslinkedservice",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "silver to gold",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "broze to silver",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Shared/silver to gold"
				},
				"linkedServiceName": {
					"referenceName": "Databrickslinkedservice",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-11-13T11:32:09Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}